.explr-txt {
  font-size: 14px;
  color: #212529a3;
  text-align: center;
  margin-bottom: 0;
}

.trans-head {
  font-size: 22px;
  color: #212529a3;
  text-align: center;
}
.time-dwnld {
  color: #747feb;
  font-size: 14px;
  text-align: end;
}
a.down-data:hover {
  color: #747feb !important;
  text-decoration: underline !important;
}
.node-status .es-transaction {
  margin-top: 0 !important;
}
