.select-style{
    border: none;
    width: 150px;
    height: 30px;
}


.air-space-box{
    width: 82%;
    margin-left: 12%;
}

.blck-txt{
    margin-top: 20px;
}

.scroll-count{
    display: flex;
}
.inc{
    border: none;
    border-radius: 20px;
    background-color:#002e91 ;
    color: #ffffff;
    width: 30px;
    margin-right: 10px;
}

.dec{
    border: none;
    border-radius: 20px;
    background-color:#002e91 ;
    color: #ffffff;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}