.event-Img-three{
    width: 100%;
    border-radius: 20px;
    height: 360px;  
}

.listing-text-ev{
    color: #000000;
      position: absolute;
      z-index: 999;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 296px;
      background-color: #002e91;
      font-weight: 500;
      color: #fff;
      padding-left: 8px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .category-event-box{
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-left: 12%;
  }


  .ev-detail-name{
    color: #002e91;
    font-weight: bold;
  }
  .event-desc{
      margin-top: 20px;
      font-size: 16px;
      color: #212529b0;
  }
  .event-desc1{
    font-size: 16px;
    color: #212529b0;
  }

  .event-main-box{
    width: 80%;
    margin-left: 12%;
    margin-top: 30px;
  }

  .concert-name{
    font-size: 22px;
  }
  .hex-txt{
    color: #002e91;
    font-size: 20px;
  }
  .event-time-box{
    display: flex;
    justify-content: space-between;
    border: 1px solid #a7a7a7;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .user-img-style{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 20px;
}
.catg-review-container{
    width: 80%;
    margin-left: 12%;
    margin-top: 30px;
}

.review-btn-toggle{
  font-size: 18px;
  color: #002e91;
  margin-top: 20px;
}
.address-head{
  margin-top: 20px;
  margin-bottom: 20px;
}