.listing-Img-three{
    width: 347px;
    border-radius: 20px;
    height: 360px;
}

.category-three-box{
    position: relative;
   display: inline-block;
   overflow: hidden
}

.listing-text{
    color: #000000;
      position: absolute;
      z-index: 999;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 296px;
      background-color: #002e91;
      font-weight: 500;
      color: #fff;
      padding-left: 8px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  .list-box-flex{
      display: flex;
      justify-content: space-between;
      margin: 10px;
  }
  .location-txt{
      font-size: 14px;
  }
  .small-ev-box{
      width: 60px;
      height: 60px;
      border:1px solid #fff;
      position: absolute;
      top: 16px;
      left: 14px;
  }
  .ev-month{
      font-size: 14px;
      color: #fff;
      background-color:#002e91;
      border-bottom: 1px solid #fff;
      text-align: center;
  }
  .ev-date{
    font-size: 18px;
    text-align: center;
    background-color:#fff;
    height: 36px;
    /* margin-top: -15px; */
    font-weight: bold;
  }