.bookDaap-Img{
    width: 50px;
    height: 90px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.header-bgd-color{
    .info-color.mb-1.navbar.navbar-dark.navbar-expand-lg{
        border-bottom: 1px solid #a7a7a7;
        box-shadow: 0px 3px 5px #a7a7a7;
    }
    .nav-link .top-color{
    color: #747FEB !important;
}
}

.nav-link.top-color{
    color: #747FEB !important;
}

.header-bgd-color{
    background-color: #ffffff;
}