.eslogo-Img {
  width: 71px;
  height: auto;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 14px;
  font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.nav-link.connect-style {
  background-color: #ffffff;
  color: #002e91 !important;
  padding: 8px;
  border-radius: 28px;
}
.nav-link {
  color: #ffffff;
}
@media (max-width: 992px) {
  .flex-transc {
    padding-top: 15px;
  }
  .flex-transc .era-value {
    margin-bottom: 15px;
  }

  .navbar-toggler {
    background-color: #fff;
  }
  .navbar-collapse {
    background: #4353ab;
    padding: 15px;
  }
  .navbar-toggler i {
    position: relative;
    top: 0;
    font-size: 30px;
    color: #4353ab;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
       
        margin-top: 15px;
        border-bottom: 1px solid #e2e2e254;
    }
      .hed-searchbar{
     margin-top: 15px;
  }
 

}
.navbar-nav a:hover {
  color: #d8ff00;
}
.dropdown-menu a:hover {
  color: #4353ab;
}
