.block-overview tr{
    border: 1px solid #ddd;
    padding: 15px;
  }
  
td{
 padding: 30px;
 padding-top: 5px;
 padding-bottom: 5px;
 }
 
  .block-overview tr:hover {
      background-color: #ddd;
      cursor: pointer;
    }

    table{
        width: 100%;
    }