.eslogods-Img {
  width: 25%;
  height: 66px;
}

ul li {
  list-style: none;
}

.flex-count-box {
  display: flex;
}

.count-box {
  /* border: 1px solid #000000; */
}

.bgd-dash-color {
  background-color: #f7fbff;
}

.section-border {
  width: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  box-shadow: -3px 3px #a7a7a74d;
}

.sect-txt-bold {
  color: #061148;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
  text-transform: initial;
}

.dashboard-main-bgd {
  background-color: #061148;
  padding: 20px;
  /* padding-bottom: 68px; */
}

.dash-main-head {
  color: #ffffff;
  font-size: 24px;
}

.sub-dash-head {
  color: #747feb;
}

.sub-supply-box {
  background-color: #5c65b7;
  border-radius: 10px;
  padding: 7px 0 7px 0;
  box-shadow: 0 8px 13px -9px #5c65b7;
}
.sub-dashboard {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 8px 13px -9px black;
}
.nrt-head {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}

.supply-txt {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.value-dash-txt {
  color: #747feb;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 15px;
  margin-top: 6px;
}

.wrapper-sub-section {
  width: 90%;
  margin: 0 auto;
}

.platfrm-logo {
  /* width:60px; */
  height: 40px;
  margin-right: 15px;
}

.platfrm-logo2 {
  /* width:40px; */
  height: 40px;
  margin-right: 15px;
}
.platfrm-logo4 {
  /* width:40px; */
  height: 40px;
  margin-right: 15px;
}
.platfrm-logo6 {
  /* width: 60px; */
  height: 25px;
  margin-right: 15px;
  position: relative;
  top: 6px;
}
.platfrm-logo-5 {
  height: 12px;
  margin-right: 15px;
  position: relative;
  top: 13px;
}

.section4-border {
  background-color: #ffffff;
  margin: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 10px;
  min-height: 306px;
  margin-bottom: 25px;
}

.platfrm-txt {
  color: #000;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 9px;
  font-weight: 700;
}

.flex-sect4-box {
  display: flex;
  margin: 5px;
  margin-bottom: 15px;
}

.sect4-context {
  color: #575757;
  margin-bottom: 0px;
  font-size: 11px;
  margin-left: 0;
  font-weight: bold;
}

.timeally-mark {
  border: 1px solid #747feb;
  background-color: #747feb;
  width: 20px;
  height: 15px;
  margin-right: 8px;
}

.sect4-value-bold {
  color: #6973d9;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 10px;
}

.timeally-mark2 {
  border: 1px solid #959595;
  background-color: #959595;
  width: 20px;
  height: 15px;
  margin-right: 8px;
}

.timelly-flex.tm-border {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(175, 80, 39);
  margin: 4px 10px 10px 9px;
}

.timelly-border-flex {
  display: flex;
  justify-content: space-between;
  margin: 4px 10px 10px 9px;
}

.ts-flex.tm-border {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ff8207;
  margin: 4px 10px 10px 9px;
}

.ds-flex.tm-border {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #28a745;
  margin: 4px 10px 10px 9px;
}

.dash-section-4 {
  width: 95%;
  margin: 0 auto;
}

.sect4-value {
  color: #747feb;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
}

.dayswappr-border-flex {
  display: flex;
  margin: 4px 10px 10px 9px;
}

.sect4-context-ds {
  font-size: 11px;
  color: #747feb;
}

.dayswapper-box {
  margin-right: 10px;
}

.swwall-flex-border {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(175, 80, 39);
  margin-bottom: 11px;
  margin-left: 10px;
  margin-right: 10px;
}

.swapper-center {
  text-align: center;
}

.sect4-value-swal {
  color: #747feb;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
}

.swwall-border-flex {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.bet-flex-border {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #28a745;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.buz-flex-border {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #ff8207;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.compute-flex-border {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(175, 80, 39);
}

.dash-section-2 {
  margin: 20px 30px;
}
.dash-section-2 .card {
  margin-bottom: 15px;
  text-align: center;
}
.dash-section-2 .card-body {
  padding: 0.6rem 5px;
}
.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.justify-content-lg-around {
  justify-content: space-around !important;
}
.d-flex {
  display: flex !important;
}
/* .height-80 {
    height: 80px;
} */
.wd-120 {
  width: 120%;
}
@media (max-width: 992px) {
  .wd-120 {
    width: 100%;
  }
  .wrapper-sub-section {
    width: 100% !important;
  }
}
.flex-count-box li.count-txt {
  vertical-align: middle;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 44px;
  width: 71px;
  height: 80px;
  font-weight: 700;
  text-align: center;
  padding-top: 7px;
}
.flex-count-box li.count-txt p {
  color: #fff;
  font-size: 13px;
  position: relative;
  top: 15px;
}
