.event-bgd-img{
    background-image:url('../../assets/Images/create.jpg');
    background-repeat: no-repeat;
    width:100%;
    height: 60vh;
    background-size: cover;  
    margin-top: -4px;
}
.img1-upload{
    border: 1px solid #a7a7a7;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.create-ev-container{
    width: 90%;
    margin-top: 30px;
}
.upload-pic1{
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
    height: 40px
}
label{
    color:#002e91 ;
}
.create-align{
 margin-left: 40px;
    margin-top: 20%;
}
.head-create{
    color: #ffffff;
    font-size: 30px;
}
.create-txt{
    color: #ffffff;
}
.create-txt1{
    color: #ffffff;
    margin-top: 20px    ;
}
.form-bgd{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-top: 17%;
}